<md-card>
  <md-card-header>
    <md-card-title>Holiday List</md-card-title>
  </md-card-header>

  <md-card-content>
    <div class="filter">
      <table class="full-width" cellspacing="0">
        <tr>
          <td>
            <md-select placeholder="Country" [(ngModel)]="country" class="full-width" (ngModelChange)="onChangeCountry()" name="country">
              <md-option *ngFor="let country of countries" [value]="country">
                {{country}}
              </md-option>
            </md-select>            
          </td>
          <td>
            <md-select placeholder="Year" class="full-width" [(ngModel)]="year"  (ngModelChange)="onChangeYear()"  name="year">
              <md-option *ngFor="let year of years" [value]="year">
                {{year}}
              </md-option>
            </md-select>    
          </td>
          <td>
            <md-select placeholder="Month" class="full-width" [(ngModel)]="month" (ngModelChange)="onChangeMonth()" name="month">
              <md-option *ngFor="let month of months; let i = index" [value]="i">
                {{month}}
              </md-option>
            </md-select>    
          </td>
        </tr>
      </table>
    </div>
    <md-nav-list>
      <md-list-item *ngFor="let holiday of holidays">
        <a md-line [routerLink]="['/detail-holiday', holiday?.name]">{{ holiday?.name }}</a>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>